<h1>Listing prayer_requests</h1>

<table>
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @prayer_requests.each do |prayer_request| %>
      <tr>
        <td><%= link_to 'Show', prayer_request %></td>
        <td><%= link_to 'Edit', edit_prayer_request_path(prayer_request) %></td>
        <td><%= link_to 'Destroy', prayer_request, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Prayer request', new_prayer_request_path %>
