<div class="menuHeader inlineb">
	<div id="news-feed-tab" class="left inlineb ele menuFilter">
		News Feed
	</div>
	<div id="personal-tab" class="middle inlineb ele menuFilter">
		Personal
	</div>
	<div id="groups-tab" class="right inlineb ele menuFilter">
		Groups
	</div>
</div>