
<%= render partial: "partials/menuHeader"%>

<div class="home-main">
	<div class="home-main-wrapper">
		<div class="home-left inlineb">
			<%= render partial: "partials/postsAndFilter", locals: {posts: @everyposts}%>
		</div>
		<div class="home-right inlineb">
			<%= render partial: "partials/posting", locals: {owner: current_user}%>

			<%= render partial: "partials/friendsList", locals: {owner: current_user}%>
		</div>
	</div>
</div>
