.login-all{
	width: 100%;
	height: 100%;
	// background-color: rgba(0,109,204,.25); /* 0.7 Opacity for black */
	.login-bckgd{
		z-index: -1;
		width: inherit;
		height: inherit;
		position: absolute;
	}
}

#logo{
	color: #f2f2f2;
}
//navbar
#navContainer{
	height:50px; 
	width:100%; 
	position: relative;
}
#navLeft{
	float: left;
}
#navRight{
	float: right;
	width: 250px;
	margin-top: 3px;
}

#navbar h1{
	display: inline-block;
}
#name{
	vertical-align: top;
	margin-top: 10px;
	margin-right: 30px;
}
.dropdown{
	vertical-align: top;
	margin-top: 10px;
}
#logOut{
	font-size: 28px;
}

//menu
.menuHeader{
	font-size: 45px;
	height: 50px;
	margin-top: 5px;
	width: 100%;
	text-align: center;
	.ele{
		height: inherit;
		padding-top: 10px;	
		width: 390px;
		border: 1px solid black;
		text-align: center;
		cursor: pointer;
	}
	.ele:hover{
		background-color: yellow;
		border: 1px solid yellow;
	}
	.left{
		border-bottom-left-radius: 20px;
		border-top-left-radius: 20px;
	}
	.middle{
	}
	.right{
		border-bottom-right-radius: 20px;
		border-top-right-radius: 20px;
	}
}

.home-main{
	height: 550px;
	.home-main-wrapper{
		margin-left: auto; 
		margin-right: auto; 
		margin-top: 10px;
		height: inherit; 
		width: 1015px;
		.home-left{
			max-height: 550px;
			width: 655px;
			border: 1px solid black;
			border-radius: 10px;
			vertical-align: top;
			overflow-y: auto;
		}
		.home-right{
			max-height: 550px;
			overflow-y: auto;
			width: 325px;
			border: 1px solid black;
			border-radius: 10px;
			margin-left: 30px;
			vertical-align: top;
			h2{
				padding-left: 10px;
				margin-top: 5px;
			}
			.post-types{
				margin: 5px;
				color: blue;
				font-size: 18px;
				div{
					margin:3px;
					padding: 3px;
					border: 1px solid gray;
					background-color: gray;
					border-radius: 5px;
					cursor: pointer;
				}

			}
			.post-form{
				border: 1px solid black;
				margin: 10px;
				margin-left: auto;
				margin-right: auto;
				padding: 5px;
				width: 95%;
				text-align: center;
				button{
					display: block;
					margin: 5px;
					margin-left: 84%;
				}
				input, textarea{
					width: 95%;
					display: block;
					margin: 5px;
				}
				textarea{
					height: 70px;
				}
			}
		}
	}
}
.home-left-filter{
		font-size: 20px;
		margin-top: 15px;
		padding-left: 10px;
		input{
			margin-left: 10px;
			margin-right: 2px;
		}
}
.home-left-ele{
	height: 150px;
	border: 1px solid gray;
	border-radius: 5px;
	margin: 10px;
	img{
		width: 50px;
		height: 50px;
		margin: 5px;
		margin-top: 9px;
		vertical-align: top;
	}
	.ele-content{
		width:400px;
		height: 60px;
		margin: 5px;
		vertical-align: top;
	}
	.ele-author{
		width: 110px;
		height: 60px;
		margin: 5px;
		vertical-align: top;
		padding-top: 20px;
	}
	.ele-actions {
		width: 300px;
		margin: 5px;
		vertical-align: top;
		cursor: pointer;
	}
}
.post-section{
}
.group-section{
	.group-ele{
		border: 1px solid gray;
		border-radius: 5px;
		margin: 10px 5px 10px 5px;

		.group-details{
			width: 80%;
			padding:5px;
			font-size: 15px;
		}
		button{
			font-size: 17px;
			vertical-align: top;
			margin: 3px;
			margin-top: 9%;
		}
	}
}

.login-signin{
	float: right;
	input{
		height: 25px;
		color: black;
	}
	.login-signin-password{
		width: 200px;
		vertical-align: middle;
		margin: 10px;
		.login-signin-remember{
			#user_remember_me{
				height: 13px;
			}
			label{
				vertical-align: top;
				margin-top: 2px;
			}
		}
		input{
			width: inherit;
		}
	}
	.login-signin-submit{
		vertical-align: top;
		margin-right: 30px; 
		margin-top: 10px;
		color: #006dcc;
	}
	.login-signin-email{
		width: 200px;
		vertical-align: top;
		margin: 10px;
		.login-signin-forgot{
			margin-top: 3px;
			a {
				color: white !important;
			}
		}
		input{
			width: inherit;
		}
	}
}
.white {
	color: white !important;
	background-color: rgba(0,0,0,.4);
}
.inlineb{
	display: inline-block;
}
.noDisplay{
	display: none !important;
}
.login-bottom{
	vertical-align: middle;
	background-color: rgba(0,0,0,.3);
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 98%;
	margin-top: 7%;
	border-radius: 30px;
	.login-about{
		width: 700px;
		text-align: center;
		vertical-align: top;
		color: white;
		padding-top: 50px;
		margin-right: 12%;
		h1{
			font-size: 50px;
			font-weight: bolder;
			line-height: 1;
		}
		ul{
			list-style: none;
			margin-left: 40px;
			li{
				img{
					margin-right: 5px;
				}
				text-align: left;
				font-size: 30px;
			}
		}
	}

	.login-signup{
		width: 400px;
		vertical-align: top;
		height: 300px;
		text-align: center;
		h1{
			color: white;
			font-size: 40px;
		}
		input{
			height: 35px;
		}
		.signup-names{
			input{
				width: 138px;
				margin: 10px;
				margin-top: 5px;
				margin-bottom: 5px;
			}
		}
		.signup-email{
			input{
				width: 300px;
				margin-top: 5px;
				margin-bottom: 5px;
			}
		}
		.signup-pwd{
			input{
				width: 300px;
				margin-top: 5px;
				margin-bottom: 5px;
			}
		}
		.signup-cnpwd{
			input{
				width: 300px;
				margin-top: 5px;
				margin-bottom: 5px;
			}
		}
		.signup-but{
			color: #006dcc;
		}
	}
}

.mine{
	color: blue;
}
