<h1>Listing praises</h1>

<table>
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @praises.each do |praise| %>
      <tr>
        <td><%= link_to 'Show', praise %></td>
        <td><%= link_to 'Edit', edit_praise_path(praise) %></td>
        <td><%= link_to 'Destroy', praise, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Praise', new_praise_path %>
